<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer class="container">
        <h5>Built with ❤ by <a class="gitlink" href="https://github.com/anik31" target="_blank">Aniket</a>.</h5>
    </footer>
</body>
</html>