<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Minder | About</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/3fa36ae73c.js"></script>

  </head>
  <body>
    <%- include("partials/header"); -%>
    

    <div class="container about">
      <h1> Welcome to Minder! </h1>
      <p>Minder is an interface for movie cards where a user can Like or dislike a movie.</p>
      <p> This app is created to show random movie cards to the user without any recommendation algorithm.</p>
      <p> If any user wants to find out the movies liked by people, he/she can visit the "Liked" section.</p>
      <p> Feel free to try it out.</p>
    </div>

  
  </body>
</html>
<%- include("partials/footer"); -%>